@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B8DBD9;
}

#calculator {
    background-color: #2F4550;
    border-radius: 60px;
    max-width: 500px;
    overflow: hidden;
}

#calc-display {
    width: 100%;
    padding: 20px;
    font-size: 4.5rem;
    text-align: left;
    border: none;
    background-color: #586F7C;
    color: #F4F4F9;
    font-weight: 200;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #000000c8;
    color: #F4F4F9;
    font-size: 2.5rem;
    font-weight: 400;
    cursor: pointer;
}

button:hover {
    transition: all 0.2s;
    background-color: #000000;
}

button:active {
    transition: all 0.1s;
    background-color: #24242498;
}

.operator-button {
    background-color: #a5e9e5;
    color: #000000;
}

.operator-button:hover {
    transition: all 0.2s;
    background-color: #5fdad3
}

.operator-button:active {
    transition: all 0.1s;
    background-color: #b3ebe7;
}
